# Prerequisites
*.d
\hw\03\cpp\.idea
\hw\03\cpp\cmake-build-debug
\hw\03\cpp\cmake-build-release
/hw/03/cpp/.idea
/hw/03/cpp/cmake-build-debug
/hw/03/cpp/cmake-build-release
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hw/03/cpp/.idea/cpp.iml
hw/03/cpp/.idea/misc.xml
hw/03/cpp/.idea/modules.xml
hw/03/cpp/.idea/vcs.xml
hw/03/cpp/cmake-build-debug/.cmake/api/v1/query/cache-v2
hw/03/cpp/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
hw/03/cpp/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
hw/03/cpp/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
hw/03/cpp/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2cd90b07f99d866c0cd2.json
hw/03/cpp/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4aa9bf931d2f8abbc1c3.json
hw/03/cpp/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c3f3c975b8fd07ec6c19.json
hw/03/cpp/cmake-build-debug/.cmake/api/v1/reply/index-2022-03-24T10-19-26-0217.json
hw/03/cpp/cmake-build-debug/.cmake/api/v1/reply/target-hw03-Debug-acf3065af7fbda6f345d.json
hw/03/cpp/cmake-build-debug/CMakeFiles/3.20.0/CMakeCCompiler.cmake
hw/03/cpp/cmake-build-debug/CMakeFiles/3.20.0/CMakeSystem.cmake
hw/03/cpp/cmake-build-debug/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.c
hw/03/cpp/cmake-build-debug/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
hw/03/cpp/cmake-build-debug/CMakeFiles/clion-environment.txt
hw/03/cpp/cmake-build-debug/CMakeFiles/CMakeOutput.log
