# Prerequisites
*.d
\hw\03\cpp\.idea
\hw\03\cpp\cmake-build-debug
\hw\03\cpp\cmake-build-release
/hw/03/cpp/.idea
/hw/03/cpp/cmake-build-debug
/hw/03/cpp/cmake-build-release
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
